.newsCardList {
  display: flex;
  flex-direction: column;
  padding: 0 104px;
  background-color: #f5f6f7;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.newsCardList__title {
  font-family: var(--font-family-slab);
  font-size: var(--fs-hero);
  line-height: var(--lh-hero);
  font-weight: var(--font-weight-regular);
  color: #000;
  margin: 80px 0 64px 0;
}

.newsCardList__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.newsCardList__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.newsCardList__show-more-btn {
  width: 100%;
  max-width: 288px;
  height: 64px;
  border-radius: 100px;
  background-color: #fff;
  font-family: var(--font-family-base);
  font-size: var(--fs-m);
  line-height: var(--lh-m);
  font-weight: var(--font-weight-medium);
  padding: 20px;
  box-sizing: border-box;
  border: none;
  color: #000;
  align-self: center;
  margin: 64px 0 80px;
  cursor: pointer;
}

.newsCardList__show-more-btn:hover {
  background-color: #e8e8e8;
}

.newsCardList__nothing-found {
  text-align: center;
  font-family: var(--font-family-base);
  font-size: var(--fs-m);
  line-height: var(--lh-m);
  font-weight: var(--font-weight-medium);
  margin: 20px 0;
  color: #888;
}

.newsCardList__error {
  text-align: center;
  color: red;
  font-family: var(--font-family-base);
  font-size: var(--fs-m);
  line-height: var(--lh-m);
  font-weight: var(--font-weight-medium);
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .newsCardList {
    padding: 0 40px;
  }

  .newsCardList__title {
    font-size: var(--fs-xlT);
    line-height: var(--lh-xlY);
    margin: 40px 0 32px 0;
  }

  .newsCardList__cards {
    gap: 8px;
  }

  .newsCardList__show-more-btn {
    padding: 16px;
    margin: 32px 0 40px;
  }
}

@media screen and (max-width: 480px) {
  .newsCardList {
    padding: 32px 16px 26px;
    display: flex;
    flex-direction: column;
    background-color: #f5f6f7;
  }

  .newsCardList__title {
    font-size: var(--fs-xlT);
    line-height: var(--lh-xlT);
    margin: 0 0 58px 0;
  }

  .newsCardList__cards {
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
  }

  .newsCardList__show-more-btn {
    width: 100%;
    max-width: 288px;
    height: 64px;
    border-radius: 100px;
    background-color: #fff;
    font-family: var(--font-family-base);
    font-size: var(--fs-m);
    line-height: var(--lh-m);
    font-weight: var(--font-weight-medium);
    padding: 20px;
    box-sizing: border-box;
    border: none;
    color: #000;
    align-self: center;
    margin: 21px 0 0;
    cursor: pointer;
  }
}
